<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- paso1 permisos de acceso a internet para que la aplicacion se conecte mediante a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlGana"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".add_alimentacion"
            android:exported="false" />
        <activity
            android:name=".view_alimentacion"
            android:exported="false" />
        <activity
            android:name=".EditarAlimentacionActivity"
            android:exported="false" />
        <activity
            android:name=".EditarReproduccionActivity"
            android:exported="false" />
        <activity
            android:name=".EditarEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".EditarAnimalActivity"
            android:exported="false" />
        <activity
            android:name=".view_salud"
            android:exported="false" />

        <activity
            android:name=".view_reproduccion"
            android:exported="false" />
        <activity
            android:name=".add_salud"
            android:exported="false" />
        <activity
            android:name=".view_animal"
            android:exported="false" />
        <activity
            android:name=".add_animal"
            android:exported="false" />
        <activity
            android:name=".add_reproduccion"
            android:exported="false" />
        <activity
            android:name=".view_empleado"
            android:exported="false" />
        <activity
            android:name=".add_empleado"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>